<h1 class="animated fadeIn fast">WHAT’S ABOUT COMICS?</h1>
<p class="animated fadeIn">About Comics is a publisher of a unique and eclectic assortment of comic books, books about comics, and other things that are just plain interesting. Some of our most popular lines include:

    The Negro Motorist Green Book – Jim Crow-era travel guides for African Americans
    Nun cartoons! – 1950s cartoons from Roman Catholic publications
    Comic book collections – including work by Kurt Busiek, Bill Mumy & Miguel Ferrer, Steve Leialoha, Lela Dowling, and more
    Books for aspiring comics creators
    The work of Charles Schulz – beyond Peanuts
    The novels of Robert Mayer
    Adult coloring books of the 1960s
    We also provide custom comics services, creating original comics material or rounding up artists for special projects.</p>